.corp {
    /* qualcosina ci va sicuramente qua */
}
    /* Zona Header */
.banner {
    background-image: url(../img/pattern.png);
    height: 180px;
    background-repeat: repeat;
    background-color: cornflowerblue;
}

.logo {
    background-image: url(../img/logo.svg);
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
}

.wroteby {
    font-size: small;
    color: darkgray;
}

.operator {
    color: cornflowerblue;
}

.photodescription {
    font-size: 10px;
}
    /* Paragrafi testuali */
.importantkey {
    background-color: yellow;
}

ul {
    padding: 15px;
}

.table {
    border-collapse: collapse;
}

.thead {
    font-size: small;
    color: white;
    background-color: dodgerblue;
}

.tbodycolor {
    font-size: small;
    background-color: lightblue;
}

.tbodywhite {
    font-size: small;
    background-color: white;
}

    /* Footer */
.linkutili {
    color: grey;
}

.footerimg {
    color: white;
    padding-left: 10px;
    height: 200px;
    width: 300px;
    background-size: 60%;
    background-repeat: no-repeat;
}

.monitor {
    background-image: url(../img/monitor.jpg);
}

.graph {
    margin-top: -70px;
    background-image: url(../img/graph.jpg);
}